<div style="width:700px;margin: 0px auto;">
<table width="700" border="0" align="center" cellpadding="5" cellspacing="0">
	<tr> 
    	<td align="center" style="padding: 10px 0px;"><img src="{$logo_path}logo.gif" /></td>
	</tr>
	<tr> 
    <td style="font-size:14px;text-transform:uppercase;padding:10px 5px;border-top: 1px dotted #999;border-bottom: 1px dotted #999;">
      <font face="Tahoma, Verdana, sans-serif">Спасибо за подписку</font>
    </td>
  </tr>
  <tr> 
    <td>
      <br />
      <font size="2" face="Tahoma, Verdana, sans-serif"><b>Спасибо за вашу подписку!</b><br />
      <br />
      {if isset($LINK)}
      Вы получили это письмо, потому что подписались на нашу рассылку.<br />
      <br />
      Пожалуйста, нажмите на следующую ссылку для активации, чтобы начать получать наши письма.  
      Если вы не оформляли подписку, просто проигнорируйте это письмо.<br />
      <br />
      <b>Ваша ссылка для активации:</b><br />
      <a href="{$LINK}">{$LINK}</a><br />
      <br />
      Если вы не регистрировались на нашу рассылку или не хотите её получать, просто проигнорируйте ссылку активации.<br />
      <br />
      Вы можете отозвать своё согласие на получение рассылки в любое время. Рассылка осуществляется согласно нашей политике конфиденциальности.<br />
      {/if}
  
      {if $SEND_GIFT == true}
      <br />
      В знак благодарности за создание учётной записи вы получили <b>{$GIFT_AMMOUNT}</b> в виде подарочного сертификата!<br />
      <br />
      Используйте его при оформлении заказа, введя код <b>{$GIFT_CODE}</b>,  
      или просто перейдите по следующей ссылке:  
      <a href="{$GIFT_LINK}">[использовать сертификат]</a>.<br />
      {/if}
  
      {if $SEND_COUPON == true}
      <br />
      В знак благодарности за регистрацию вы получили купон на скидку.<br />
      Информация о купоне: <b>{$COUPON_DESC}</b><br />
      Используйте код {$COUPON_CODE} при оформлении заказа в соответствующем поле.<br />
      {/if}
      </font>
    </td>
  </tr>
  
</table>

[SIGNATUR]
</div>