<div style="width:700px;margin: 0px auto;">
    <table width="700" border="0" align="center" cellpadding="5" cellspacing="0">
        <tr> 
            <td align="center" style="padding: 10px 0px;"><img src="{$logo_path}logo.gif" /></td>
        </tr>
        <tr> 
            <td style="font-size:14px;text-transform:uppercase;padding:10px 5px;border-top: 1px dotted #999;border-bottom: 1px dotted #999;">
            <font face="Tahoma, Verdana, sans-serif">Вы получили подарочный сертификат на сумму {$AMMOUNT}</font>
          </td>
        </tr>
        <tr> 
            <td>
            <br />
            <font size="2" face="Tahoma, Verdana, sans-serif">Вы получили подарочный сертификат на сумму <b>{$AMMOUNT}</b>!
            <br /><br />
            Этот подарочный сертификат был отправлен вам от: {$FROM_NAME}, с таким сообщением:<br />
            <br />
            <i>{$MESSAGE}</i><br />
            <br />
            Ваш код сертификата: <strong>{$GIFT_CODE}</strong>.<br />
            Вы можете использовать его при оформлении заказа или просто перейдите по следующей ссылке: <a href="{$GIFT_LINK}">{$GIFT_LINK}</a><br />
            <br />
            </font>
            </td>
        </tr>
    </table>
    
    [SIGNATUR]
</div>
    